@import url('./header.css');
@import url('./infos.css');
@import url('./resetcss.css');

body,header{
    margin: 0;
}

body    {
    background-color: var(--azulBody);
    color: var(--branco);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

main    {
    padding: 20px;
}
